 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 58px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}